
   <h2>Current <a href="/tasks">tasks:</a>{{count}}</h2><br>
   <div id="myTasks">
        <div class="jumbotron">
            <div class="panel-heading clearfix">
                    <span style="clear:both">
                    {{#each username}}
                        <h2 id="currUser">{{this.name}}'s Tasks</h2>
                    {{/each}}
                    </span>

            </div>
        </div>
            {{#each usersTasks}}
            <div class="tasklist" id="taskshome{{@index}}">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" id="displayName{{@index}}">{{this.name}}</h3>                
                            <a class="btn btn-primary pull-right" onclick="completeTask(this)" id="comp{{@index}}">
                                <i class="fa fa-pencil"></i>
                                Complete
                            </a>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <p class="list-group-item-text"></p>
                                <h3>Reward:</h3> <h4 id="displayReward{{@index}}">{{this.reward}}</h4>
                                <h4 class="list-group-item-heading"><span id=""></span></h4>
                            </div>
                            <div class="list-group-item">
                                <h3>Description:</h3> <h4></h4>
                                <p class="list-group-item-text"><span id="displayDescription{{@index}}"></span>{{this.description}}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
    </div> <!-- end mytasks -->

   <div id="userTasks">
    <div class="jumbotron">
            <div class="panel-heading clearfix">
                    <span id="">
                        <h2>Other Tasks</h2>
                    </span>
            </div>
        </div>
            {{#each otherTasks}}
            <div class="tasklist" id="taskshome{{@index}}">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left"><span id="displayName{{@index}}"><h2></h2></span>{{this.name}}</h3> 
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <p class="list-group-item-text"></p>
                                <h3>Reward:</h3> <h4><a href="/tasks/" id="displayReward{{@index}}"></a>{{this.reward}}</h4>
                                <h4 class="list-group-item-heading"><span id=""></span></h4>
                            </div>
                            <div class="list-group-item">
                                <h3>Description:</h3> <h4></h4>
                                <p class="list-group-item-text"><span id="displayDescription{{@index}}"></span>{{this.description}}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
   </div>


   <script>
    window.completeTask = function(elem){
        // document.getElementById('taskshome'+elem.id[4]).style.display = 'none';
        var reward = $('#displayReward'+elem.id[4]).text();
        var taskName = $('#displayName'+elem.id[4]).text();
        var name = $('#currUser').text();

            // console.log(reward);
            // console.log(taskName);
            // console.log(name);
            $.ajax({
             method: "POST",
             url: "/index/complete",
             data: {"reward": reward, "taskName": taskName, "name": name},
             success: function(result) {
                location.reload();       
             }
            })

            history.go(0);
            history.go(0);
    }
   </script>
