	<h1>LEADERBOARD</h1>
    <div class="jumbotron">
        <h2>Current User number: {{count}}</h2>
    </div>
        {{#each leaders}}
        <div class="tasklist">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left"><span id=""><h2>{{this.name}}</h2></span></h3>
                    
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <p class="list-group-item-text"> </p>                        
                        <h3>Reward Currency:</h3> <h4>${{this.reward}}</h4>
                        <h4 class="list-group-item-heading"><span id=""></span></h4>
                    </div>
                    <div class="list-group-item">
                        <h3>Rank position: </h3> <p id="index{{@index}}">{{@index}}</p>
                        <p class="list-group-item-text"><span id=""></span></p>
                    </div>
                </div>
                <div class="panel-footer">
                    <small></small>
                </div>
            </div>
        </div>        
        {{/each}}


        <script>
            Handlebars.registerHelper("inc", function(value, options)
            {
                return parseInt(value) + 1;
            });

            Handlebars.registerHelper("math", function(lvalue, operator, rvalue, options) {
    lvalue = parseFloat(lvalue);
    rvalue = parseFloat(rvalue);
        
    return {
        "+": lvalue + rvalue,
        "-": lvalue - rvalue,
        "*": lvalue * rvalue,
        "/": lvalue / rvalue,
        "%": lvalue % rvalue
    }[operator];
});
        </script>
