	<h1>LEADERBOARD</h1>
    <div class="jumbotron">
        <h2>Current User number: {{dataJson.UserCount}} </h2>
        {{#each dataJson.Currency}}
        <div class="tasklist">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left"><span id=""><h2> {{this.UserName }}</h2></span></h3>
                    <!-- TODO EDIT LINK-->
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <p class="list-group-item-text"> </p>
                        <!-- clean up later...  also hyperlink somewhere else later-->
                        <h3>Reward Currency:</h3> <h4>$ {{this.UserCurrency}}</h4>
                        <h4 class="list-group-item-heading"><span id=""></span></h4>
                    </div>
                    <div class="list-group-item">
                        <h3>Rank position: </h3> <p id="index{{@index}}">{{@index}}</p>
                        <p class="list-group-item-text"><span id=""></span></p>
                    </div>
                </div>
                <div class="panel-footer">
                    <small></small>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
<!--
    <script>
        //console.log(document.getElementById("index" + String(0)).innerHTML)
    for(i = 0; i < {{dataJson.Currency.length}};i++)
        document.getElementById("index" + String(i)).innerHTML = Number(document.getElementById("index" + String(i)).innerHTML) + 1;
    </script>

-->
