
	<div class="jumbotron">
		<h1>Add a Task</h1>	
	</div>
	
	<button class = "btn btn-primary" id="myBtn">Add Task</button>

	<div id="myModal" class="modal">

	<div class="modal-content">

	<div class="panel panel-default">
	  <div class="panel-heading clearfix">
	    <h3 class="panel-title pull-left">Add a Task</h3>
	    <div class="btn-group pull-right">
	      <button class="btn btn-danger cancelBtn">
	        <i class="fa fa-times"></i>
	        Cancel
	      </button>
	      <form method="post" action="/tasks">
	      <button class="btn btn-success" id="saveTask">
	        <i class="fa fa-check"></i>
	        Save
	      </button>
	    </div>
	  </div>
	  <div class="modal-body">
	    <div class="form-horizontal">
	      <div class="form-group">
	        <label class="col-xs-3 control-label">Name</label>
	        <div class="col-xs-9">
	          <input type="text" class="form-control" id="taskName" placeholder="Name the task" name="name">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-xs-3 control-label">Reward</label>
	        <div class="col-xs-9">
	          <input type="number" class="form-control" id="taskReward" min="0" placeholder="$0.0" name="reward">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-xs-3 control-label">Description</label>
	        <div class="col-xs-9">
	          <textarea class="form-control" id="taskDescription" rows="6" placeholder="Add Description for task" name="description"></textarea>
	        </div>
	        </form>
	      </div>
	    </div>
	  </div>
	  <div class="panel-footer">
	    <small></small>
	  </div>
	</div>
	</div>
	</div>

	<div id="editModal" class="modal">

	<div class="modal-content">

	<div class="panel panel-default">
	  <div class="panel-heading clearfix">
	    <h3 class="panel-title pull-left">Edit a Task</h3>
	    <div class="btn-group pull-right">
	      <button class="btn btn-danger editCancel">
	        <i class="fa fa-times"></i>
	        Cancel
	      </button>
	      <button class="btn btn-success" onclick="saveEdit()" id="saveEdit">
	        <i class="fa fa-check"></i>
	        Save
	      </button>
	    </div>
	  </div>
	  <div class="modal-body">
	    <form class="form-horizontal">
	      <div class="form-group">
	        <label class="col-xs-3 control-label">Name</label>
	        <div class="col-xs-9">
	          <input type="text" class="form-control" id="taskNameEdit" placeholder="Name the task">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-xs-3 control-label">Reward</label>
	        <div class="col-xs-9">
	          <input type="number" class="form-control" id="taskRewardEdit" min="0" placeholder="$0.0">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-xs-3 control-label">Description</label>
	        <div class="col-xs-9">
	          <textarea class="form-control" id="taskDescriptionEdit" rows="6" placeholder="Add Description for task"></textarea>
	        </div>
	      </div>
	    </form>
	  </div>
	  <div class="panel-footer">
	    <small></small>
	  </div>
	</div>
	</div>
	</div>


	<div id="shit1"></div>
	<div id="shit2"></div>
	<div id="tasks">
	
	{{#each tasks}}
		<div class="panel panel-default"> 
	  			<div class="panel-heading clearfix">  
	    			<h3 class="panel-title pull-left" id="displayName{{@index}}">{{this.name}}</h3>
	    			<button class="btn btn-danger pull-right" onclick="removePressed(this)" id="removeTask{{@index}}">
	        		<i class="fa fa-pencil"></i>
	        		Remove
	      			</button>
	      			<button class="btn btn-primary pull-right" onclick="editPressed(this)" id="editTask{{@index}}">
	        		<i class="fa fa-pencil"></i>
	        		Edit
	      			</button>
	    		</div>
	    		<div class="list-group">
	      			<div class="list-group-item">
	        			<p class="list-group-item-text">Reward</p>
	        			<h4 class="list-group-item-heading" id="displayReward{{@index}}">{{this.reward}}</h4>
	      			</div>
	      			<div class="list-group-item">
	        			<p class="list-group-item-text" id="displayDescription{{@index}}">{{this.description}}</p>
	      			</div>
	      			<div class="list-group-item"> 	    
	        			<button onclick="selecUser(this)" id="selectUser{{@index}}" class="dropbtn">Select User</button>
	        			<div class="dropdown-content" id="displayUser{{@index}}">
						{{#each ../groups}}
	        			<a href="javascript:;" onclick="selectedUser(this, {{@../index}})" id="userSel{{@index}}">{{this.name}}</a> 	        				   		 
	        			{{/each}}
	        			</div>	        			
	        			<div id="selectedUser{{@index}}" value=""></div>
	      			 </div>
	    		</div>
	  			<div class="panel-footer">
	    			<small></small>
	  			</div>
			</div>
	{{/each}}	
	</div>

	<script>
		var editCount, removeCount;

		var modal = document.getElementById('myModal');
		var editModal = document.getElementById('editModal');

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		var saveTask = document.getElementById("saveTask");

		var saveEdit = document.getElementById("saveEdit");

		var editTask = document.getElementById("shit1");

		var selectUser = document.getElementById("shit2");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("cancelBtn")[0];
		var editSpan = document.getElementsByClassName("editCancel")[0];

		// When the user clicks on the button, open the modal 
		btn.onclick = function() {
		    modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		    modal.style.display = "none";
		}

		editSpan.onclick = function() {
			editModal.style.display = "none";
		}
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		    else if (event.target == editModal) {
		    	editModal.style.display = "none";
		    }
		}

// The following are methods ran after user clicks on buttons

		window.editPressed = function(elem){
			editModal.style.display = "block";
			editCount = elem.id[8];
		}

		window.removePressed = function(elem){
			removeCount = elem.id[10];

			var taskName = $("#displayName"+removeCount).text()

			$.ajax({
		         method: "POST",
		         url: "/tasks/remove",
		         data: {"taskID": taskName},
		         success: function(result) {
		            location.reload();	     
		         }
		    })

		    location.reload();
		    location.reload();
		}

		window.saveEdit = function(){		

			var taskName = $("#displayName"+editCount).text()
			var taskReward = $("#displayReward"+editCount).text()
			var taskDescription = $("#displayDescription"+editCount).text() 

			var newTaskName = document.getElementById("taskNameEdit").value 
			var newTaskReward = document.getElementById("taskRewardEdit").value 
			var newTaskDescription = document.getElementById("taskDescriptionEdit").value 

			if(newTaskName == "") newTaskName = taskName;
			if(newTaskReward == "") newTaskReward = taskReward;
			if(newTaskDescription == "") newTaskDescription = taskDescription;

			editModal.style.display = "none";

	      		$.ajax({
		         method: "POST",
		         url: "/tasks/update",
		         data: {"taskName": newTaskName, "taskReward": newTaskReward, "taskDescription": newTaskDescription,
		     			"oldName": taskName, "oldReward": taskReward, "oldDescription": taskDescription},
		         success: function(result) {
		            location.reload();	     
		         }
		      	})			
		}
	

		window.selecUser = function(elem){
			document.getElementById('displayUser'+(elem.id[10])).classList.toggle("show");
		}

		window.selectedUser = function(elem, ind){
			//elem is contains the value of user 
			var selectedUser = elem.innerHTML;
			var taskName = $("#displayName"+ind).text()
			$.ajax({
		         method: "POST",
		         url: "/tasks/select",
		         data: {"selectedUser": selectedUser, "taskName": taskName},
		         success: function(result) {
		            location.reload();	     
		         }
		     })

		}

		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {

		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	</script>
	
